<html>
    <head> 
        <title>{{ page_title }}</title>
        {{ content_for_header }}
        {% style %}
            {{ settings.heading_font | font_face: font_display: swap }}
            {{ settings.body_font | font_face: font_display: swap }}
            :root {
                --heading-font: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
                --body-font: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
            }
        {% endstyle %}
        <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

        <script src="{{ 'theme.js' | asset_url }}" defer></script>
        <script src="{{ 'cart.js' | asset_url }}" defer></script>
    </head>
    <body>
        {% sections 'header-group' %}
        {{ content_for_layout }}
        {% sections 'footer-group' %}
    </body>
</html>